<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Chapter_3_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제 1

In [1]:
100 > 200

False

In [2]:
100 >= 200

False

In [71]:
100 < 200

True

In [4]:
100 <= 200

True

In [5]:
100 == 200

False

In [6]:
100 != 200

True

In [7]:
200 == 200

True

In [8]:
200 != 200

False

In [9]:
True or True

True

In [10]:
True or False

True

In [11]:
True and False

False

In [12]:
True and True

True

In [13]:
True or True and False

True

In [14]:
True and True or False

True

In [15]:
'Morning' < 'morning'

True

In [16]:
'A' > 'B'

False

# 연습문제 2

In [19]:
n = input("이름을 입력하시오 : ")
height = int(input("키를 입력하시오(단위 cm) : "))
if height >= 140 :
    print(n, "님은 놀이기구를 탈 수 있습니다.")
else :
    print(n, "님은 놀이기구를 탈 수 없습니다.")

이름을 입력하시오 : 동윤
키를 입력하시오(단위 cm) : 170
동윤 님은 놀이기구를 탈 수 있습니다.

In [20]:
n = input("이름을 입력하시오 : ")
height = int(input("키를 입력하시오(단위 cm) : "))
if height >= 140 :
    print(n, "님은 놀이기구를 탈 수 있습니다.")
else :
    print(n, "님은 놀이기구를 탈 수 없습니다.")

이름을 입력하시오 : 승주
키를 입력하시오(단위 cm) : 132
승주 님은 놀이기구를 탈 수 없습니다.

# 연습문제 3

In [21]:
age = int(input("나이을 입력하시오 : "))
height = int(input("키를 입력하시오(단위 cm) : "))
if age >= 19 and height >= 150 :
    print("입장할 수 있습니다.")
else :
    print("입장할 수 없습니다.")

나이을 입력하시오 : 23
키를 입력하시오(단위 cm) : 160
입장할 수 있습니다.

In [22]:
age = int(input("나이을 입력하시오 : "))
height = int(input("키를 입력하시오(단위 cm) : "))
if age >= 19 and height >= 150 :
    print("입장할 수 있습니다.")
else :
    print("입장할 수 없습니다.")

나이을 입력하시오 : 16
키를 입력하시오(단위 cm) : 163
입장할 수 없습니다.

# 연습문제 4

In [23]:
age = int(input("나이을 입력하시오 : "))
if age >= 20:
  print("Adult")
elif age >= 10:
  print("Youth")
else:
  print("Kid")

나이을 입력하시오 : 23
Adult

In [24]:
age = int(input("나이을 입력하시오 : "))
if age >= 20:
  print("Adult")
elif age >= 10:
  print("Youth")
else:
  print("Kid")

나이을 입력하시오 : 18
Youth

In [25]:
age = int(input("나이을 입력하시오 : "))
if age >= 20:
  print("Adult")
elif age >= 10:
  print("Youth")
else:
  print("Kid")

나이을 입력하시오 : 9
Kid

# 연습문제 5

In [27]:
n1, n2 = map(int, input("두 정수를 입력하시오 : ").split())
if n1 > n2 :
    print(n2, n1)
else :
    print(n1, n2)

두 정수를 입력하시오 : 99 12
12 99

# 연습문제 6

In [36]:
n1, n2, n3 = map(int, input("세 정수를 입력하시오: ").split())

if n1 <= n2:  # n1이 n2보다 작거나 같을 때
    if n1 <= n3:  # n1이 n3보다 작거나 같을 때
        smallest = n1
        if n2 <= n3:
            middle, largest = n2, n3
        else:
            middle, largest = n3, n2
    else:  # n3가 n1보다 작음
        smallest, middle, largest = n3, n1, n2
else:  # n2가 n1보다 작음
    if n2 <= n3:  # n2가 n3보다 작거나 같을 때
        smallest = n2
        if n1 <= n3:
            middle, largest = n1, n3
        else:
            middle, largest = n3, n1
    else:  # n3가 n2보다 작음
        smallest, middle, largest = n3, n2, n1

print(smallest, middle, largest)

세 정수를 입력하시오: 9 12 4
4 9 12

In [37]:
n1, n2, n3 = map(int, input("세 정수를 입력하시오: ").split())

if n1 <= n2:  # n1이 n2보다 작거나 같을 때
    if n1 <= n3:  # n1이 n3보다 작거나 같을 때
        smallest = n1
        if n2 <= n3:
            middle, largest = n2, n3
        else:
            middle, largest = n3, n2
    else:  # n3가 n1보다 작음
        smallest, middle, largest = n3, n1, n2
else:  # n2가 n1보다 작음
    if n2 <= n3:  # n2가 n3보다 작거나 같을 때
        smallest = n2
        if n1 <= n3:
            middle, largest = n1, n3
        else:
            middle, largest = n3, n1
    else:  # n3가 n2보다 작음
        smallest, middle, largest = n3, n2, n1

print(smallest, middle, largest)

세 정수를 입력하시오: 99 12 4
4 12 99

# 연습문제 7

In [38]:
game_score = int(input("게임점수를 입력하시오 : "))
if game_score >= 1000:
    print("고수입니다.")
else:
    print("입문자입니다.")

게임점수를 입력하시오 : 990
입문자입니다.

# 연습문제 8

In [39]:
x, y =map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
if x > 0 and y > 0:
  print("1사분면에 있음")
elif x < 0 and y > 0:
  print("2사분면에 있음")
elif x < 0 and y < 0:
  print("3사분면에 있음")
elif x > 0 and y < 0:
  print("4사분면에 있음")
else:
  print("x축이나 y축에 있음")

점의 좌표 x, y를 입력하시오 : 2 4
1사분면에 있음

In [40]:
x, y =map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
if x > 0 and y > 0:
  print("1사분면에 있음")
elif x < 0 and y > 0:
  print("2사분면에 있음")
elif x < 0 and y < 0:
  print("3사분면에 있음")
elif x > 0 and y < 0:
  print("4사분면에 있음")
else:
  print("x축이나 y축에 있음")

점의 좌표 x, y를 입력하시오 : -2 -4
3사분면에 있음

# 연습문제 9

In [70]:
n = int(input("정수를 입력하시오 : "))
if n % 2 == 0:
  print(n, "는(은) 2(으)로 나누어집니다.")
  if n % 3 == 0:
    print(n, "는(은) 3(으)로 나누어집니다.")
    print(n,"는(은) 2와(과) 3 모두에 대해 동시에 나누어집니다.")
  else:
    print(n, "는(은) 3(으)로 나누어지지 않습니다.")
    print(n, "는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.")
else:
  print(n, "는(은) 2(으)로 나누어지지 않습니다.")
  if n % 3 == 0:
    print(n, "는(은) 3(으)로 나누어집니다.")
    print(n, "는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.")
  else:
    print(n, "는(은) 3(으)로 나누어지지 않습니다.")
    print(n, "는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.")

정수를 입력하시오 : 15
15 는(은) 2(으)로 나누어지지 않습니다.
15 는(은) 3(으)로 나누어집니다.
15 는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.

In [69]:
n = int(input("정수를 입력하시오 : "))
if n % 2 == 0:
  print(n, "는(은) 2(으)로 나누어집니다.")
  if n % 3 == 0:
    print(n, "는(은) 3(으)로 나누어집니다.")
    print(n,"는(은) 2와(과) 3 모두에 대해 동시에 나누어집니다.")
  else:
    print(n, "는(은) 3(으)로 나누어지지 않습니다.")
    print(n, "는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.")
else:
  print(n, "는(은) 2(으)로 나누어지지 않습니다.")
  if n % 3 == 0:
    print(n, "는(은) 3(으)로 나누어집니다.")
    print(n, "는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.")
  else:
    print(n, "는(은) 3(으)로 나누어지지 않습니다.")
    print(n, "는(은) 2와(과) 3 모두에 대해 동시에 나누어지지는 않습니다.")

정수를 입력하시오 : 12
12 는(은) 2(으)로 나누어집니다.
12 는(은) 3(으)로 나누어집니다.
12 는(은) 2와(과) 3 모두에 대해 동시에 나누어집니다.

# 연습문제 10

In [67]:
n1, n2 = map(int, input("두 정수를 입력하시오 : ").split())
if n1 % n2 == 0:
  print(n1, "는(은)", n2, "의 배수입니다.")
else:
  print(n1, "는(은)", n2, "의 배수가 아닙니다.")

두 정수를 입력하시오 : 15 5
15 는(은) 5 의 배수입니다.

In [68]:
n1, n2 = map(int, input("두 정수를 입력하시오 : ").split())
if n1 % n2 == 0:
  print(n1, "는(은)", n2, "의 배수입니다.")
else:
  print(n1, "는(은)", n2, "의 배수가 아닙니다.")

두 정수를 입력하시오 : 125 52
125 는(은) 52 의 배수가 아닙니다.

# 연습문제 11

In [53]:
n1, n2, n3 = map(int, input("세 복권번호를 입력하시오 : ").split())

matched_count = 0

# 복권 번호가 일치하는지 확인
if n1 == 2 or n1 == 3 or n1 == 9:
    matched_count += 1
if n2 == 2 or n2 == 3 or n2 == 9:
    matched_count += 1
if n3 == 2 or n3 == 3 or n3 == 9:
    matched_count += 1

# 갯수에 따른 결과 반환
if matched_count == 3:
  print("상금 1억원")
elif matched_count == 2:
  print("상금 1천만 원")
elif matched_count == 1:
  print("상금 1만 원")
else:
  print("다음 기회에...")

세 복권번호를 입력하시오 : 1 5 7
다음 기회에...

In [54]:
n1, n2, n3 = map(int, input("세 복권번호를 입력하시오 : ").split())

matched_count = 0

# 복권 번호가 일치하는지 확인
if n1 == 2 or n1 == 3 or n1 == 9:
    matched_count += 1
if n2 == 2 or n2 == 3 or n2 == 9:
    matched_count += 1
if n3 == 2 or n3 == 3 or n3 == 9:
    matched_count += 1

# 갯수에 따른 결과 반환
if matched_count == 3:
  print("상금 1억원")
elif matched_count == 2:
  print("상금 1천만 원")
elif matched_count == 1:
  print("상금 1만 원")
else:
  print("다음 기회에...")

세 복권번호를 입력하시오 : 1 2 7
상금 1만 원

In [55]:
n1, n2, n3 = map(int, input("세 복권번호를 입력하시오 : ").split())

matched_count = 0

# 복권 번호가 일치하는지 확인
if n1 == 2 or n1 == 3 or n1 == 9:
    matched_count += 1
if n2 == 2 or n2 == 3 or n2 == 9:
    matched_count += 1
if n3 == 2 or n3 == 3 or n3 == 9:
    matched_count += 1

# 갯수에 따른 결과 반환
if matched_count == 3:
  print("상금 1억원")
elif matched_count == 2:
  print("상금 1천만 원")
elif matched_count == 1:
  print("상금 1만 원")
else:
  print("다음 기회에...")

세 복권번호를 입력하시오 : 1 2 9
상금 1천만 원

# 연습문제 12

In [60]:
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
dist = (x ** 2 + y ** 2) ** (1/2)
if dist < 5:
  print("원의 내부에 있음")
else:
  print("원의 외부에 있음")

점의 좌표 x, y를 입력하시오 : 2 4
원의 내부에 있음

In [59]:
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
dist = (x ** 2 + y ** 2) ** (1/2)
if dist < 5:
  print("원의 내부에 있음")
else:
  print("원의 외부에 있음")

점의 좌표 x, y를 입력하시오 : 7 9
원의 외부에 있음

# 연습문제 13

In [63]:
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
dist = ((x - 3) ** 2 + (y - 4) ** 2) ** (1/2)
if dist < 10:
  print("원의 내부에 있음")
else:
  print("원의 외부에 있음")

점의 좌표 x, y를 입력하시오 : -9 -5
원의 외부에 있음

In [64]:
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
dist = ((x - 3) ** 2 + (y - 4) ** 2) ** (1/2)
if dist < 10:
  print("원의 내부에 있음")
else:
  print("원의 외부에 있음")

점의 좌표 x, y를 입력하시오 : 7 9
원의 내부에 있음

# 연습문제 14

In [65]:
alpa = input("알파벳을 입력하시오 : ")
if alpa == "a" or alpa == "e" or alpa == "i" or alpa == "o" or alpa == "u":
  print(alpa, "은(는) 모음입니다.")
else:
  print(alpa, "은(는) 자음입니다.")

알파벳을 입력하시오 : i
i 은(는) 모음입니다.

In [66]:
alpa = input("알파벳을 입력하시오 : ")
if alpa == "a" or alpa == "e" or alpa == "i" or alpa == "o" or alpa == "u":
  print(alpa, "은(는) 모음입니다.")
else:
  print(alpa, "은(는) 자음입니다.")

알파벳을 입력하시오 : t
t 은(는) 자음입니다.