<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Chapter_4_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제 1

In [1]:
# for문 구구단
for i in range(1, 10):
  print(f"2 * {i} = {2 * i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [4]:
# while문 구구단
i = 1
while i < 10:
  print(f"2 * {i} = {2 * i}")
  i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 연습문제 2

In [6]:
n = int(input("1에서 9까지의 수를 입력하세요: "))
while n < 0 or n > 9:
  n = int(input("1에서 9까지의 수를 다시 입력하세요: "))

for i in range(1, 10):
  print(f"{n} * {i} = {n * i}")

1에서 9까지의 수를 입력하세요: 11
1에서 9까지의 수를 다시 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 연습문제 3

> 1) 예상 출력
```
Python
is
FUN!
Python
is
FUN!
Python
is
FUN!
```

In [7]:
for i in range(3):
  print('Python ')
  print('is ')
  print('FUN! ')

Python
is
FUN!
Python
is
FUN!
Python
is
FUN!

> 2) 예상 출력
```
Python
is
Python
is
Python
is
FUN!
```

In [8]:
for i in range(3):
  print('Python ')
  print('is ')
print('FUN! ')

Python
is
Python
is
Python
is
FUN!

> 3) 예상 출력
```
Python
Python
Python
is
FUN!
```

In [9]:
for i in range(3):
  print('Python ')
print('is ')
print('FUN! ')

Python
Python
Python
is
FUN!

# 연습문제 4

In [11]:
print("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.")
print("1) 햄버거")
print("2) 치킨")
print("3) 피자")
menu = int(input("1, 2, 3 중 메뉴를 선택하세요: "))

while menu not in [1, 2, 3]:
  menu = int(input("메뉴를 다시 입력하세요: "))

if menu == 1:
  print("햄버거를 선택하였습니다.")
elif menu == 2:
  print("치킨을 선택하였습니다.")
elif menu == 3:
  print("피자를 선택하였습니다.")

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1, 2, 3 중 메뉴를 선택하세요: 5
메뉴를 다시 입력하세요: 6
메뉴를 다시 입력하세요: 0
메뉴를 다시 입력하세요: 2
치킨을 선택하였습니다.

# 연습문제 5

In [12]:
print("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.")
print("- 햄버거(입력 b)")
print("- 치킨(입력 c)")
print("- 피자(입력 p)")
menu = input("메뉴를 선택하세요(알파벳 b, c, p 입력): ")
while menu not in ['b', 'c', 'p']:
  menu = input("메뉴를 다시 입력하세요(알파벳 b, c, p 입력): ")

if menu == 'b':
  print("햄버거를 선택하였습니다.")
elif menu == 'c':
  print("치킨을 선택하였습니다.")
elif menu == 'p':
  print("피자를 선택하였습니다.")

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
- 햄버거(입력 b)
- 치킨(입력 c)
- 피자(입력 p)
메뉴를 선택하세요(알파벳 b, c, p 입력): x
메뉴를 다시 입력하세요(알파벳 b, c, p 입력): c
치킨을 선택하였습니다.

# 연습문제 6

In [105]:
n = int(input("숫자를 입력하세요 : "))
for i in range(n):
  for j in range(n - (i + 1)):
    print(" ", end="")
  for k in range(i + 1):
    print("*", end="")
  print()

숫자를 입력하세요 : 5
    *
   **
  ***
 ****
*****

In [106]:
n = int(input("숫자를 입력하세요 : "))
for i in range(n):
  for j in range(n - (i + 1)):
    print(" ", end="")
  for k in range(i + 1):
    print("*", end="")
  print()

숫자를 입력하세요 : 6
     *
    **
   ***
  ****
 *****
******

# 연습 문제 7

In [102]:
n = int(input("숫자를 입력하세요 : "))

is_prime = True

if n == 1:
  is_prime = False
elif n % 2 == 0 and n != 2:
  is_prime = False
else:
  for i in range(3, int(n ** 0.5) + 1, 2):
    if n % i == 0:
      is_prime = False
      break

if is_prime:
  print(f"{n}는 소수입니다.")
else:
  print(f"{n}는 소수가 아닙니다.")

숫자를 입력하세요 : 5
5는 소수입니다.

In [103]:
n = int(input("숫자를 입력하세요 : "))

is_prime = True

if n == 1:
  is_prime = False
elif n % 2 == 0 and n != 2:
  is_prime = False
else:
  for i in range(3, int(n ** 0.5) + 1, 2):
    if n % i == 0:
      is_prime = False
      break

if is_prime:
  print(f"{n}는 소수입니다.")
else:
  print(f"{n}는 소수가 아닙니다.")

숫자를 입력하세요 : 9
9는 소수가 아닙니다.

# 연습문제 8

In [104]:
for n in range(2, 13):
  is_prime = True

  if n % 2 == 0 and n != 2:
    is_prime = False
  else:
    for i in range(3, int(n ** 0.5) + 1, 2):
      if n % i == 0:
        is_prime = False
        break

  if is_prime:
    print(f"{n} : 소수")
  else:
    print(f"{n} : 합성수")

2 : 소수
3 : 소수
4 : 합성수
5 : 소수
6 : 합성수
7 : 소수
8 : 합성수
9 : 합성수
10 : 합성수
11 : 소수
12 : 합성수

# 연습 문제 9

In [47]:
n = int(input("숫자를 입력하세요 : "))
total = 0
for i in range(1, n + 1):
  total += i ** 2

print(f"결과는 {total}입니다.")

숫자를 입력하세요 : 5
결과는 55입니다.

# 연습문제 10

In [48]:
n = int(input("숫자를 입력하세요 : "))
total = 0
for i in range(1, n + 1):
  total += (1/i) ** 2

print(f"결과는 {total}입니다.")

숫자를 입력하세요 : 10
결과는 1.5497677311665408입니다.

In [49]:
n = int(input("숫자를 입력하세요 : "))
total = 0
for i in range(1, n + 1):
  total += (1/i) ** 2

print(f"결과는 {total}입니다.")

숫자를 입력하세요 : 100
결과는 1.6349839001848923입니다.

# 연습문제 11

In [58]:
day = 0
position = 0
while True:
  day += 1
  position += 7
  print(f"day: {day}\t\t달팽이의 위치 : {position} 미터")
  if position >= 30:
    break
  position -= 5

print(f"\n우물을 탈출하는 데 걸린 날은 {day}일입니다.")

day: 1		달팽이의 위치 : 7 미터
day: 2		달팽이의 위치 : 9 미터
day: 3		달팽이의 위치 : 11 미터
day: 4		달팽이의 위치 : 13 미터
day: 5		달팽이의 위치 : 15 미터
day: 6		달팽이의 위치 : 17 미터
day: 7		달팽이의 위치 : 19 미터
day: 8		달팽이의 위치 : 21 미터
day: 9		달팽이의 위치 : 23 미터
day: 10		달팽이의 위치 : 25 미터
day: 11		달팽이의 위치 : 27 미터
day: 12		달팽이의 위치 : 29 미터
day: 13		달팽이의 위치 : 31 미터

우물을 탈출하는 데 걸린 날은 13일입니다.

# 연습문제 12

In [61]:
n = int(input("n을 입력하시오 : "))
for i in range(n):
  if i % 2 == 0:
    for j in range(1, n + 1):
      print(f"{j + i*n:2d}", end= " ")
  else:
    for j in range(n, 0, -1):
      print(f"{j + i*n:2d}", end= " ")
  print()

n을 입력하시오 : 5
 1  2  3  4  5
10  9  8  7  6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

In [62]:
n = int(input("n을 입력하시오 : "))
for i in range(n):
  if i % 2 == 0:
    for j in range(1, n + 1):
      print(f"{j + i*n:2d}", end= " ")
  else:
    for j in range(n, 0, -1):
      print(f"{j + i*n:2d}", end= " ")
  print()

n을 입력하시오 : 6
 1  2  3  4  5  6
12 11 10  9  8  7
13 14 15 16 17 18
24 23 22 21 20 19
25 26 27 28 29 30
36 35 34 33 32 31

# 연습문제 13

In [67]:
print("세 자리의 암스트롱 수 : ", end = "")
for n in range(100, 1000):
  n1 = n // 100
  n2 = (n % 100) // 10
  n3 = n % 10
  if n1 ** 3 + n2 ** 3 + n3 ** 3 == n:
    print(n, end = " ")

세 자리의 암스트롱 수 : 153 370 371 407

# 연습문제 14

In [94]:
n = int(input("정수를 입력하시오 : "))

original_n = n
reversed_n = 0
while original_n > 0:
  digit = original_n % 10
  reversed_n = reversed_n * 10 + digit
  original_n //= 10

if reversed_n == n:
  print(f"{n}은(는) 거꾸로 정수입니다.")
else:
  print(f"{n}은(는) 거꾸로 정수가 아닙니다.")

정수를 입력하시오 : 3443
3443은(는) 거꾸로 정수입니다.

In [71]:
n = int(input("정수를 입력하시오 : "))

original_n = n
reversed_n = 0
while original_n > 0:
  digit = original_n % 10
  reversed_n = reversed_n * 10 + digit
  original_n //= 10

if reversed_n == n:
  print(f"{n}은(는) 거꾸로 정수입니다.")
else:
  print(f"{n}은(는) 거꾸로 정수가 아닙니다.")

정수를 입력하시오 : 324
324은(는) 거꾸로 정수가 아닙니다.

# 연습문제 15

In [73]:
fuel = 500
while fuel >= 50:
  value = int(input("충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: "))
  fuel += value
  print(f"현재 탱크양은 {fuel} 입니다.")

print("경고 : 연료가 10% 미만이니 충전하세요!")

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: +60
현재 탱크양은 560 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: -300
현재 탱크양은 260 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오: -220
현재 탱크양은 40 입니다.
경고 : 연료가 10% 미만이니 충전하세요!

# 연습문제 16

In [74]:
print("1)덧셈 2)뺄셈 3)곱셈 4)나눗셈")
menu = int(input("어떤 연산을 원하는지 번호를 입력하세요 : "))
if menu not in [1, 2, 3, 4]:
  print("잘못 입력하였습니다.")
else:
  print("연산을 원하는 숫자 두개를 입력하세요")
  n1 = int(input())
  n2 = int(input())
  if menu == 1:
    print(f"{n1} + {n2} = {n1 + n2}")
  elif menu == 2:
    print(f"{n1} - {n2} = {n1 - n2}")
  elif menu == 3:
    print(f"{n1} * {n2} = {n1 * n2}")
  elif menu == 4:
    print(f"{n1} / {n2} = {n1 / n2}")

1)덧셈 2)뺄셈 3)곱셈 4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요 : 4
연산을 원하는 숫자 두개를 입력하세요
3
4
3 / 4 = 0.75

In [75]:
print("1)덧셈 2)뺄셈 3)곱셈 4)나눗셈")
menu = int(input("어떤 연산을 원하는지 번호를 입력하세요 : "))
if menu not in [1, 2, 3, 4]:
  print("잘못 입력하였습니다.")
else:
  print("연산을 원하는 숫자 두개를 입력하세요")
  n1 = int(input())
  n2 = int(input())
  if menu == 1:
    print(f"{n1} + {n2} = {n1 + n2}")
  elif menu == 2:
    print(f"{n1} - {n2} = {n1 - n2}")
  elif menu == 3:
    print(f"{n1} * {n2} = {n1 * n2}")
  elif menu == 4:
    print(f"{n1} / {n2} = {n1 / n2}")

1)덧셈 2)뺄셈 3)곱셈 4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요 : 6
잘못 입력하였습니다.

# 연습문제 17

In [92]:
for num in range(1, 20001):
  sum_divisors_num = 0
  for i in range(1, int(num ** 0.5) + 1):
    if num % i == 0:
      sum_divisors_num += i
      if i != 1 and i ** 2 != num:
        sum_divisors_num += num // i

  if num == sum_divisors_num:
      continue

  total = 0
  for j in range(1, int(sum_divisors_num ** 0.5) + 1):
    if sum_divisors_num % j == 0:
      total += j
      if j != 1 and j ** 2 != sum_divisors_num:
        total += sum_divisors_num // j

  if num == total:
    print(f"{num}의 친화수 {sum_divisors_num}")

220의 친화수 284
284의 친화수 220
1184의 친화수 1210
1210의 친화수 1184
2620의 친화수 2924
2924의 친화수 2620
5020의 친화수 5564
5564의 친화수 5020
6232의 친화수 6368
6368의 친화수 6232
10744의 친화수 10856
10856의 친화수 10744
12285의 친화수 14595
14595의 친화수 12285
17296의 친화수 18416
18416의 친화수 17296