<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Chapter5_%ED%95%A8%EC%88%98%EC%99%80_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제 1

In [1]:
def my_greet():
  print("환영합니다.")

my_greet()
my_greet()

환영합니다.
환영합니다.

# 연습문제 2

In [5]:
def square(n):
  return n ** 2

print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

# 연습문제 3

In [6]:
def max2(m, n):
  return m if m > n else n

def min2(m, n):
  return m if m < n else n

m = 100
n = 200
print(f'{m}과 {n}중 큰 수는 :', max2(m, n))
print(f'{m}과 {n}중 작은 수는 :', min2(m, n))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

# 연습문제 4

In [9]:
def mile2km(m):
  return m * 1.61

for m in range(1, 6):
  print(f'{m} 마일 = {mile2km(m)} 킬로미터')

1 마일 = 1.61 킬로미터
2 마일 = 3.22 킬로미터
3 마일 = 4.83 킬로미터
4 마일 = 6.44 킬로미터
5 마일 = 8.05 킬로미터

# 연습문제 5

In [10]:
def inch2cm(inch):
  return inch * 2.54

for inch in range(1, 6):
  print(f'{inch} 인치 = {inch2cm(inch)} 센티미터')

1 인치 = 2.54 센티미터
2 인치 = 5.08 센티미터
3 인치 = 7.62 센티미터
4 인치 = 10.16 센티미터
5 인치 = 12.7 센티미터

# 연습문제 6

In [13]:
def cel2fah(cel):
  return (9/5) * cel + 32

for cel in range(10, 50 + 1, 10):
  print(f'섭씨 {cel} 도 = 화씨 {cel2fah(cel)} 도')

섭씨 10 도 = 화씨 50.0 도
섭씨 20 도 = 화씨 68.0 도
섭씨 30 도 = 화씨 86.0 도
섭씨 40 도 = 화씨 104.0 도
섭씨 50 도 = 화씨 122.0 도

# 연습문제 7

In [15]:
def mean3(a, b, c):
  return (a + b + c) / 3

def max3(a, b, c):
  if a > b:
    if a > c:
      return a
    else:
      return c
  else:
    if b > c:
      return b
    else:
      return c

def min3(a, b, c):
  if a < b:
    if a < c:
      return a
    else:
      return c
  else:
    if b < c:
      return b
    else:
      return c

a, b, c = map(int, input("세 수를 입력하시오 : ").split())
print(f'{a}, {b}, {c}의 평균값은 {mean3(a, b, c)}')
print(f'{a}, {b}, {c}의 최댓값은 {max3(a, b, c)}')
print(f'{a}, {b}, {c}의 최솟값은 {min3(a, b, c)}')

세 수를 입력하시오 : 10 30 20
10, 30, 20의 평균값은 20.0
10, 30, 20의 최댓값은 30
10, 30, 20의 최솟값은 10

# 연습문제 8

In [18]:
def mean6(a, b, c, d, e, f):
  return (mean3(a, b, c) + mean3(d, e, f)) / 2

def max6(a, b, c, d, e, f):
  return max3(a, b, c) if max3(a, b, c) > max3(d, e, f) else max3(d, e, f)

def min6(a, b, c, d, e, f):
  return min3(a, b, c) if min3(a, b, c) < min3(d, e, f) else min3(d, e, f)

a, b, c, d, e, f = map(int, input("여섯 개의 수를 입력하시오 : ").split())
print(f'평균값은 {mean6(a, b, c, d, e, f)}')
print(f'최댓값은 {max6(a, b, c, d, e, f)}')
print(f'최솟값은 {min6(a, b, c, d, e, f)}')

여섯 개의 수를 입력하시오 : 100 20 30 45 260 370
평균값은 137.5
최댓값은 370
최솟값은 20

# 연습문제 9

In [19]:
def mean_of_n(nums):
  s = 0
  for num in nums:
    s += num
  return s / len(nums)

def max_of_n(nums):
  a = nums[0]
  for num in nums:
    if a < num:
      a = num
  return a

def min_of_n(nums):
  a = nums[0]
  for num in nums:
    if a > num:
      a = num
  return a

nums = list(map(int, input("정수를 여러 개 입력하시오 : ").split()))
print(f'평균값은 {mean_of_n(nums)}')
print(f'최댓값은 {max_of_n(nums)}')
print(f'최솟값은 {min_of_n(nums)}')

정수를 여러 개 입력하시오 : 3 45 32 5 7 8 4 44 5 90 17
평균값은 23.636363636363637
최댓값은 90
최솟값은 3

# 연습문제 10

In [22]:
def distance(x1, y1, x2, y2):
  return ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5

x1 = int(input("x1 좌표를 입력하시오 : "))
y1 = int(input("y1 좌표를 입력하시오 : "))
x2 = int(input("x2 좌표를 입력하시오 : "))
y2 = int(input("y2 좌표를 입력하시오 : "))
print(f'두 점의 거리: {distance(x1, y1, x2, y2)}')

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
두 점의 거리: 5.0

# 연습문제 11

In [23]:
def area(x1, y1, x2, y2):
  return ((x2 - x1) * (y2 - y1)) / 2

x1 = int(input("x1 좌표를 입력하시오 : "))
y1 = int(input("y1 좌표를 입력하시오 : "))
x2 = int(input("x2 좌표를 입력하시오 : "))
y2 = int(input("y2 좌표를 입력하시오 : "))
print(f'직각삼각형의 면적은 : {area(x1, y1, x2, y2)}')

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
직각삼각형의 면적은 : 6.0

# 연습문제 12

In [24]:
def cal_area(width, height):
  return (width * height) / 2

width = int(input('밑변을 입력하시오: '))
height = int(input('높이를 입력하시오: '))
print(f'삼각형의 면적은: {cal_area(width,height)}')

밑변을 입력하시오: 20
높이를 입력하시오: 15
삼각형의 면적은: 150.0

# 연습문제 13

In [29]:
# 모서리의 길이가 12인 정육면체
def cal_volume(n):
  return n ** 3

print(f'정육면체의 부피: {cal_volume(12)}')

정육면체의 부피: 1728

In [30]:
# 모서리 길이가 20인 정육 면체
print(f'정육면체의 부피: {cal_volume(20)}')

정육면체의 부피: 8000

In [31]:
# 가로, 세로, 깊이가 각각 3, 5, 6인 직육면체
def cal_volume2(a, b, c):
  return a * b * c

print(f'직육면체의 부피: {cal_volume2(3, 5, 6)}')

직육면체의 부피: 90

In [32]:
# 반지름과 높이가 각각 20, 10인 원뿔
def cal_volume3(r, h):
  return (1/3) * 3.14 * (r ** 2) * h

print(f'원뿔의 부피: {cal_volume3(20, 10)}')

원뿔의 부피: 4186.666666666666

In [33]:
# 반지름이 15인 구
def cal_volume4(r):
  return (4/3) * 3.14 * (r ** 3)

print(f'구의 부피: {cal_volume4(15)}')

구의 부피: 14130.0

In [34]:
# 반지름과 높이가 각각 20, 10인 원기둥
def cal_volume5(r, h):
  return 3.14 * (r ** 2) * h

print(f'원기둥의 부피: {cal_volume5(20, 10)}')

원기둥의 부피: 12560.0

# 연습문제 14

In [37]:
def sort3(num1, num2, num3):
  a = []
  a.append(num1)
  a.append(num2)
  a.append(num3)
  a.sort()
  return a

print("세 수를 입력하세요 : ")
num1 = int(input())
num2 = int(input())
num3 = int(input())
a = sort3(num1, num2, num3)
print(f"정렬된 리스트는 다음과 같습니다: {a[0]} {a[1]} {a[2]}")

세 수를 입력하세요 :
3
2
5
정렬된 리스트는 다음과 같습니다: 2 3 5

# 연습문제 15

In [39]:
def my_sort(*nums):
  a = list(nums)
  a.sort()
  return a

print("my_sort(45, 3, 4, 56, 5) 호출 시")
print(f'결과 : {my_sort(45, 3, 4, 56, 5)}')

my_sort(45, 3, 4, 56, 5) 호출 시
결과 : [3, 4, 5, 45, 56]

In [40]:
print("my_sort(9, 8, 7, 6, 5, 4, 3) 호출 시")
print(f'결과 : {my_sort(9, 8, 7, 6, 5, 4, 3)}')

my_sort(9, 8, 7, 6, 5, 4, 3) 호출 시
결과 : [3, 4, 5, 6, 7, 8, 9]

# 연습문제 16

In [48]:
input_list = input('쉼표로 구분된 정수를 여러 개 입력하시오: ').split(',')
nums = []
for n in input_list:
  nums.append(int(n))
print(f'입력된 정수의 리스트: {nums}')

nums.sort()

print('정렬된 정수의 리스트:',end =' ')
for n in nums:
   print(n, end = ' ')

쉼표로 구분된 정수를 여러 개 입력하시오: 56,67,89,34,24,300,99
입력된 정수의 리스트: [56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트: 24 34 56 67 89 99 300

# 연습문제 17

In [49]:
def sum_range(n1, n2):
  return sum(range(n1, n2 + 1))

print(f'10에서 20까지의 정수의 합: {sum_range(10, 20)}')
print(f'40에서 100까지의 정수의 합: {sum_range(40, 100)}')

10에서 20까지의 정수의 합: 165
40에서 100까지의 정수의 합: 4270

# 연습문제 18

In [51]:
from math import gcd

def cal_lcm(n1, n2):
  return n1 * n2 // gcd(n1, n2)

def lcm_range(a, b):
  lcm = 1
  for n in range(a, b + 1):
    lcm = cal_lcm(lcm, n)
  return lcm

a = int(input('범위의 시작 정수 : '))
b = int(input('범위의 마지막 정수 : '))
print(f'{a}에서 {b}까지의 정수들의 최소 공배수: {lcm_range(a, b)}')

범위의 시작 정수 : 2
범위의 마지막 정수 : 4
2에서 4까지의 정수들의 최소 공배수: 12

In [52]:
a = int(input('범위의 시작 정수 : '))
b = int(input('범위의 마지막 정수 : '))
print(f'{a}에서 {b}까지의 정수들의 최소 공배수: {lcm_range(a, b)}')

범위의 시작 정수 : 3
범위의 마지막 정수 : 5
3에서 5까지의 정수들의 최소 공배수: 60

# 연습문제 19

In [56]:
def fibo(n):
  if n <= 1:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

n = int(input('fibo(n)의 n을 입력하세요: '))
print(f'fibo({n}) = {fibo(n)}')

fibo(n)의 n을 입력하세요: 3
fibo(3) = 3

In [57]:
n = int(input('fibo(n)의 n을 입력하세요: '))
print(f'fibo({n}) = {fibo(n)}')

fibo(n)의 n을 입력하세요: 4
fibo(4) = 5

# 연습문제 20

In [112]:
for n in range(16):
  print(f'fibo({n:3d}) = {fibo(n):5}')

fibo(  0) =     1
fibo(  1) =     1
fibo(  2) =     2
fibo(  3) =     3
fibo(  4) =     5
fibo(  5) =     8
fibo(  6) =    13
fibo(  7) =    21
fibo(  8) =    34
fibo(  9) =    55
fibo( 10) =    89
fibo( 11) =   144
fibo( 12) =   233
fibo( 13) =   377
fibo( 14) =   610
fibo( 15) =   987

# 연습문제 21

In [109]:
def split_year_month_day(birth_date):
  year = birth_date // 10000
  month = birth_date // 100 % 100
  day = birth_date % 100
  return year, month, day

birth_date = int(input("주민등록번호 첫 6 숫자 형식 입력: "))
year, month, day = split_year_month_day(birth_date)

if year >= 50:
  print(f"19{year}년 {month}월 {day}일")
else:
  print(f"20{year:02d}년 {month}월 {day}일")

주민등록번호 첫 6 숫자 형식 입력: 570312
1957년 3월 12일

In [110]:
birth_date = int(input("주민등록번호 첫 6 숫자 형식 입력: "))
year, month, day = split_year_month_day(birth_date)

if year >= 50:
  print(f"19{year}년 {month}월 {day}일")
else:
  print(f"20{year:02d}년 {month}월 {day}일")

주민등록번호 첫 6 숫자 형식 입력: 011123
2001년 11월 23일

# 연습문제 22

In [86]:
import datetime
date = datetime.datetime.now()
y, m, d = date.year, date.month, date.day
print(f'현재시간은 {y:02d}년 {m:02d}월 {d:02d}일입니다.')
print(f'지금 태어난 아이의 주민등록번호 앞자리는 : {str(y)[2:]:02}{m:02}{d:02}')

현재시간은 2024년 10월 13일입니다.
지금 태어난 아이의 주민등록번호 앞자리는 : 241013

# 연습문제 23

In [91]:
def area_and_circumference(r):
  area = 3.14 * r ** 2
  circumference = 2 * 3.14 * r
  return area, circumference

while True:
  r = int(input('반지름을 입력하시오: '))
  if r < 0:
    print("프로그램을 종료합니다.")
    break

  area, circumference = area_and_circumference(r)
  print(f'넓이: {area:7.3f}, 둘레: {circumference:7.3f}')

반지름을 입력하시오: 6
넓이: 113.040, 둘레:  37.680
반지름을 입력하시오: 22
넓이: 1519.760, 둘레: 138.160
반지름을 입력하시오: 4
넓이:  50.240, 둘레:  25.120
반지름을 입력하시오: -1
프로그램을 종료합니다.

# 연습문제 24

In [94]:
def clean_and_split_and_sort(sentence):
  cleaned_sentence = sentence.replace(':', ' ').replace('.', ' ').replace(',', ' ').replace('!', ' ').replace('?', ' ')
  words = cleaned_sentence.split()
  return sorted(words)

sentence = input("여러 단어로 이루어진 글을 입력하세요: ")

print(f'정렬 결과 : {clean_and_split_and_sort(sentence)}')

여러 단어로 이루어진 글을 입력하세요: 여러 달어로 이루어진 글을 입력하세요: 임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이.
정렬 결과 : ['가', '가나', '글을', '나', '나나', '다람쥐', '달어로', '마린보이', '문장', '문장을', '여러', '이것은', '이루어진', '임의의', '입력', '입력하세요', '출력', '테스트']

# 연습문제 25

In [97]:
def processed_sentence(sentence):
  removed_sentence = sentence.replace(' ','').replace('-', '')
  return removed_sentence.upper()

s1 = 'Kang Young Min'
s2 = ' Kang Young-Min'
s3 = 'Park Dong min'
s4 = ' Park Dong-Yun'

print(f'{s1}(은)는 {processed_sentence(s1)}(으)로 수정됨')
print(f'{s2}(은)는 {processed_sentence(s2)}(으)로 수정됨')
print(f'{s3}(은)는 {processed_sentence(s3)}(으)로 수정됨')
print(f'{s4}(은)는 {processed_sentence(s4)}(으)로 수정됨')

print(f"{s1} : {processed_sentence(s1).count('N')} 개의 N이 나타남")
print(f"{s2} : {processed_sentence(s2).count('N')} 개의 N이 나타남")
print(f"{s3} : {processed_sentence(s3).count('N')} 개의 N이 나타남")
print(f"{s4} : {processed_sentence(s4).count('N')} 개의 N이 나타남")

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
 Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong min(은)는 PARKDONGMIN(으)로 수정됨
 Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
Kang Young Min : 3 개의 N이 나타남
 Kang Young-Min : 3 개의 N이 나타남
Park Dong min : 2 개의 N이 나타남
 Park Dong-Yun : 2 개의 N이 나타남

# 연습문제 26

In [101]:
def replace_bython_with_python(text):
  new_sentence = text.replace('Bython', 'Python')
  change_count = text.count('Bython')
  return new_sentence, change_count

text = input('주어진 문자열 : \n')

print()

print("수정된 문자열 : ")
new_sentence, change_count = replace_bython_with_python(text)
print(new_sentence)
print(f'Bython 문자열은 모두 {change_count}번 수정했습니다.')

주어진 문자열 :
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 :
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.

# 연습문제 27

In [106]:
def unit_fraction(frac):
  print(f'가장 가까운 단위 분수는 1/{round(1/frac)}이며, 이 값은 {1/round(1/frac)}입니다.')

frac = float(input('1보다 작고 0보다 큰 소수를 입력하세요: '))
unit_fraction(frac)

1보다 작고 0보다 큰 소수를 입력하세요: 0.0732
가장 가까운 단위 분수는 1/14이며, 이 값은 0.07142857142857142입니다.

In [107]:
frac = float(input('1보다 작고 0보다 큰 소수를 입력하세요: '))
unit_fraction(frac)

1보다 작고 0보다 큰 소수를 입력하세요:  0.00000000000000000000000000000000000000000003423423
가장 가까운 단위 분수는 1/29210529928670802965804389820847695375368192이며, 이 값은 3.4234230000000007e-44입니다.

# 연습문제 28

In [114]:
def factorial(k):
  if k <= 1:
    return 1
  else:
    return k * factorial(k-1)

def euler(n):
  e = 0
  for k in range(n + 1):
    e += 1 / factorial(k)
  return e

print(f'euler({5:2d}) = {round(euler(5), 5)}')
print(f'euler({20:2d}) = {round(euler(20), 5)}')

euler( 5) = 2.71667
euler(20) = 2.71828