<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Chapter_7_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%2C_%ED%8A%9C%ED%94%8C%2C_%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제 7.1

In [3]:
price = {'김밥': 5000, '어묵': 3000, '떡볶이':2000}

In [4]:
price['김밥']

5000

In [5]:
price['김밥'] = 6000

In [6]:
price

{'김밥': 6000, '어묵': 3000, '떡볶이': 2000}

In [7]:
price.values()

dict_values([6000, 3000, 2000])

In [8]:
price.keys()

dict_keys(['김밥', '어묵', '떡볶이'])

In [9]:
print(f'이 식당의 메뉴 개수는 {len(price)}개 입니다.')

이 식당의 메뉴 개수는 3개 입니다.

# 연습문제 7.2

In [10]:
price['순대'] = 4500

In [12]:
price

{'김밥': 6000, '어묵': 3000, '떡볶이': 2000, '순대': 4500}

In [15]:
print(f'순대의 가격은 {price["순대"]} 원 입니다.')

순대의 가격은 4500 원 입니다.

In [16]:
print(f'이 식당의 메뉴 개수는 {len(price)}개 입니다.')

이 식당의 메뉴 개수는 4개 입니다.

# 연습문제 7.3

In [20]:
menu = {'Americano':3000, 'Ice Americcano':3500, 'Cappuccino':4000, 'Caffe Latte':4500, 'Espresso':3600}

In [21]:
for key in menu:
  print(f'{key:15s} 가격 : {menu[key]}원')

Americano       가격 : 3000원
Ice Americcano  가격 : 3500원
Cappuccino      가격 : 4000원
Caffe Latte     가격 : 4500원
Espresso        가격 : 3600원

In [23]:
choice = input('위의 메뉴중 하나를 선택하세요: ')

if choice in menu:
  print(f'{choice}는  {menu[choice]}원 입니다. 결제를 부탁드립니다.')
else:
  print(f'미안합니다. {choice}는 메뉴에 없습니다.')

위의 메뉴중 하나를 선택하세요: Espresso
Espresso는  3600원 입니다. 결제를 부탁드립니다.

In [24]:
choice = input('위의 메뉴중 하나를 선택하세요: ')

if choice in menu:
  print(f'{choice}는  {menu[choice]}원 입니다. 결제를 부탁드립니다.')
else:
  print(f'미안합니다. {choice}는 메뉴에 없습니다.')

위의 메뉴중 하나를 선택하세요: Pen Cake
미안합니다. Pen Cake는 메뉴에 없습니다.

# 연습문제 7.4

In [25]:
t = (10, 20, 30, 40)
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
t = (10, 20, 30, 40)
t.remove(40)

AttributeError: 'tuple' object has no attribute 'remove'

In [27]:
t = (10, 20, 30, 40)
t[0] = 0

TypeError: 'tuple' object does not support item assignment

# 연습문제 7.5

In [28]:
t = (10, 20, 30, 40)

In [29]:
t[0]

10

In [30]:
t[0:2]

(10, 20)

In [31]:
t[1:]

(20, 30, 40)

In [32]:
t[:3]

(10, 20, 30)

In [33]:
t[1::2]

(20, 40)

In [34]:
t[::-1]

(40, 30, 20, 10)

# 연습문제 7.6

In [35]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

In [36]:
t1 == t2

True

In [37]:
t2 + t3

('a', 'b', 'c', 'd', 'e')

In [38]:
my_list = []
for x in t1:
  my_list.append(x)
my_list

['a', 'b', 'c']

In [39]:
[x for x in t1]

['a', 'b', 'c']

In [40]:
my_list = []
for x in t1:
  for y in t3:
    my_list.append(x + y)
my_list

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

In [41]:
[x + y for x in t1 for y in t3]

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

# 연습문제 7.7

In [44]:
cnt = 0
sales = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)

for i in range(1, len(sales)):
  if sales[i] < sales[i - 1]:
    cnt += 1

print(f'일일 매출 기록: {sales}')
print(f'지난 {len(sales)}일 동안 전일대비 매출이 감소한 날은 {cnt}일 입니다.')

일일 매출 기록: (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
지난 10일 동안 전일대비 매출이 감소한 날은 3일 입니다.

# 연습문제 7.8

In [52]:
tup = (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)

dup = set()  # 중복 원소를 저장
unique = set()  # 중복 여부를 확인하기 위한 집합

for x in tup:
    if x in unique:  # 이미 unique에 있다면 중복 원소
        dup = dup | {x}  # 중복 원소를 합집합으로 추가
    else:
        unique = unique | {x}  # unique에 원소 추가

print(f'주어진 튜플 : {tup}')
print(f'중복 원소는: {dup}')

주어진 튜플 : (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는: {1, 2, 4, 9}

# 연습문제 7.9

In [49]:
tup = (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)

new_tup = tuple(set(tup))
print(f'주어진 튜플 : {tup}')
print(f'중복 원소가 제거된 튜플 : {new_tup}')

주어진 튜플 : (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소가 제거된 튜플 : (1, 2, 3, 4, 5, 7, 8, 9)

# 연습문제 7.10

In [68]:
from collections import Counter

tup = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)

max_count = Counter(tup).most_common()

max_count.sort(key = lambda x : (-x[1], -x[0]))

print(f'주어진 튜플 : {tup}')
print(f'가장 많이 나타나는 요소 : {max_count[0][0]}')

주어진 튜플 : (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 요소 : 3

In [70]:
from collections import Counter

tup = (1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3)

max_count = Counter(tup).most_common()

max_count.sort(key = lambda x : (-x[1], -x[0]))
print(f'주어진 튜플 : {tup}')
print(f'가장 많이 나타나는 요소 : {max_count[0][0]}')

주어진 튜플 : (1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 요소 : 9

# 연습문제 7.11

In [72]:
given_list = [(), 1, (), (), (1,), ('a',), ('a', 'b'), ((),), ('a', 'b'), '']

removed_list = []

for x in given_list:
  if x:
    removed_list.append(x)

print(f'주어진 리스트 : {given_list}')
print(f'빈 튜플 요소를 제거한 결과  : {removed_list}')

주어진 리스트 : [(), 1, (), (), (1,), ('a',), ('a', 'b'), ((),), ('a', 'b'), '']
빈 튜플 요소를 제거한 결과  : [1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]

# 연습문제 7.12

In [79]:
given_list = [5, 6, 3, 9, 2, 12, 3, 8, 7]

for i in range(len(given_list) - 1):
  if given_list[i] > given_list[i+1]:
    given_list[i], given_list[i+1] = given_list[i+1], given_list[i]

print(f'주어진 리스트는 : {given_list}')
print(f'가장 큰 수를 마지막으로 옮긴 결과 : {given_list}')

주어진 리스트는 : [5, 3, 6, 2, 9, 3, 8, 7, 12]
가장 큰 수를 마지막으로 옮긴 결과 : [5, 3, 6, 2, 9, 3, 8, 7, 12]

# 연습문제 7.13

In [80]:
given_list = [5, 6, 3, 9, 2, 12, 3, 8, 7]

for i in range(len(given_list) - 1):
    for j in range(len(given_list) - 1 - i):
        if given_list[j] > given_list[j + 1]:
            given_list[j], given_list[j + 1] = given_list[j + 1], given_list[j]

print(f'주어진 리스트는 : {given_list}')
print(f'정렬된 결과는 : {given_list}')

주어진 리스트는 : [2, 3, 3, 5, 6, 7, 8, 9, 12]
정렬된 결과는 : [2, 3, 3, 5, 6, 7, 8, 9, 12]

# 연습문제 7.14

In [86]:
given_list = [5, 6, 3, 9, 2, 12, 3, 8, 7]

print(f'주어진 리스트는 : {given_list}')

for i in range(len(given_list) - 1):
    for j in range(len(given_list) - 1 - i):
        if given_list[j] > given_list[j + 1]:
            given_list[j], given_list[j + 1] = given_list[j + 1], given_list[j]

    print(f'{i+1} 단계 : {given_list[:len(given_list) - i - 1]}, {given_list[len(given_list) - i - 1:]}')

print(f'정렬된 리스트는 : {given_list}')

주어진 리스트는 : [5, 6, 3, 9, 2, 12, 3, 8, 7]
1 단계 : [5, 3, 6, 2, 9, 3, 8, 7], [12]
2 단계 : [3, 5, 2, 6, 3, 8, 7], [9, 12]
3 단계 : [3, 2, 5, 3, 6, 7], [8, 9, 12]
4 단계 : [2, 3, 3, 5, 6], [7, 8, 9, 12]
5 단계 : [2, 3, 3, 5], [6, 7, 8, 9, 12]
6 단계 : [2, 3, 3], [5, 6, 7, 8, 9, 12]
7 단계 : [2, 3], [3, 5, 6, 7, 8, 9, 12]
8 단계 : [2], [3, 3, 5, 6, 7, 8, 9, 12]
정렬된 리스트는 : [2, 3, 3, 5, 6, 7, 8, 9, 12]

# 연습문제 7.15

In [88]:
tup = (4, 5, 2, 3, 8, 1, 9, 0)

for i in range(len(tup)):
  print(tup[:len(tup) - i])

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

# 연습문제 7.16

In [98]:
student_tuple = (('191101', '홍길동', '010-123-45xx'), ('191102', '임꺽정', '010-223-45xx'), ('191103', '장길산', '010-323-45xx'))

tup = tuple()
for id, name, _ in student_tuple:
  tup += ((id, name),)

student_info = dict(tup)
print(student_info)

{'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}

In [103]:
print(f'학생 정보: {student_info}')
while True:
  id = input('학번을 입력하세요: ')

  if id in student_info:
    print(f'{id}번 학생은 {student_info[id]}입니다.')
  elif id  == '-1':
    break
  else:
    print('해당 학번이 없습니다.')

print('프로그램을 종료합니다.')

학생 정보: {'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요: 191102
191102번 학생은 임꺽정입니다.
학번을 입력하세요: 191106
해당 학번이 없습니다.
학번을 입력하세요: -1
프로그램을 종료합니다.

# 연습문제 7.17

In [104]:
population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

In [107]:
print(f'마을 A와 B에 보낼 투표용지의 개수는 각각 {sum(population_A[2:])} 장과 {sum(population_B[2:])} 장입니다.')

마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.

In [114]:
print(f'마을 A와 B의 고령화 정도는 각각 {sum(population_A[7:])/sum(population_A) :.3f}와 {sum(population_B[7:]) / sum(population_B) : .3f}입니다.')

마을 A와 B의 고령화 정도는 각각 0.165와  0.003입니다.

# 연습문제 7.18

In [122]:
s1 = set('abcd')

In [121]:
s1

{0, 1, 2, 3, 4, 5}

In [116]:
s2 = set('defg')
s2

{'d', 'e', 'f', 'g'}

In [117]:
s1 == s2

False

In [118]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [119]:
s1 & s2

{'d'}

# 연습문제 7.19

In [126]:
s1 = {0, 1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

In [127]:
s1 & s2

{3, 4, 5}

In [128]:
s1 | s2

{0, 1, 2, 3, 4, 5, 6, 7}

In [129]:
s2 - s1

{6, 7}

In [130]:
s1 - s2

{0, 1, 2}

In [131]:
s1 ^ s2

{0, 1, 2, 6, 7}

In [132]:
2 in s1

True

# 연습문제 7.20

In [133]:
scores = (('박동규', 88, 95, 90), ('강영민', 85, 90, 95), ('박동민', 70, 90, 80), ('홍승주', 90, 90, 95))

In [141]:
_, _, math, _ = zip(*scores)
print(f'학생들의 수학 성적의 평균은 {sum(math)/len(math)}입니다.')

학생들의 수학 성적의 평균은 91.25입니다.

In [143]:
_, _, math, science = zip(*scores)

# 수학과 과학 점수의 평균 계산
math_avg = sum(math) / len(math)
science_avg = sum(science) / len(science)

# 출력
print(f'학생들의 수학과 과학 성적의 평균은 {(math_avg + science_avg) / 2}입니다.')

학생들의 수학과 과학 성적의 평균은 90.625입니다.

In [150]:
name, korean, math, science = zip(*scores)

print('이름 \t\t평균 성적')
print('-' * 25)
for i in range(len(name)):
  print(f'{name[i]}\t\t{(korean[i] + math[i] + science[i]) / 3 : .2f}')

이름 		평균 성적
-------------------------
박동규		 91.00
강영민		 90.00
박동민		 80.00
홍승주		 91.67

# 연습문제 7.21

In [152]:
s = input('문자열을 입력하시오 : ')

processed_s = s.upper().replace(' ', '').replace('.', '')
if processed_s == processed_s[::-1]:
  print(f'{s}은(는) 회문입니다.')
else:
  print(f'{s}은(는) 회문이 아닙니다.')

문자열을 입력하시오 : racecar
racecar은(는) 회문입니다.

In [153]:
s = input('문자열을 입력하시오 : ')

processed_s = s.upper().replace(' ', '').replace('.', '')
if processed_s == processed_s[::-1]:
  print(f'{s}은(는) 회문입니다.')
else:
  print(f'{s}은(는) 회문이 아닙니다.')

문자열을 입력하시오 : racecing
racecing은(는) 회문이 아닙니다.

In [154]:
s = input('문자열을 입력하시오 : ')

processed_s = s.upper().replace(' ', '').replace('.', '')
if processed_s == processed_s[::-1]:
  print(f'{s}은(는) 회문입니다.')
else:
  print(f'{s}은(는) 회문이 아닙니다.')

문자열을 입력하시오 : A nut for a jar of tuna
A nut for a jar of tuna은(는) 회문입니다.

# 연습문제 7.22

In [156]:
name = input('이름을 입력하세요 : ')

print('안녕하세요?', end=' ')
if name[-3:] == 'vic':
  print(f'{name}님. 발칸 반도에서 오셨나요?')
else:
  print(f'{name}님.')

이름을 입력하세요 : Sinisa Mihajlovic
안녕하세요? Sinisa Mihajlovic님. 발칸 반도에서 오셨나요?

In [157]:
name = input('이름을 입력하세요 : ')

print('안녕하세요?', end=' ')
if name[-3:] == 'vic':
  print(f'{name}님. 발칸 반도에서 오셨나요?')
else:
  print(f'{name}님.')

이름을 입력하세요 : Tom Cruise
안녕하세요? Tom Cruise님.

# 연습문제 7.23

In [158]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [159]:
s = string.ascii_uppercase

for i in range(10):
  print(s[i:] + s[:i])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
BCDEFGHIJKLMNOPQRSTUVWXYZA
CDEFGHIJKLMNOPQRSTUVWXYZAB
DEFGHIJKLMNOPQRSTUVWXYZABC
EFGHIJKLMNOPQRSTUVWXYZABCD
FGHIJKLMNOPQRSTUVWXYZABCDE
GHIJKLMNOPQRSTUVWXYZABCDEF
HIJKLMNOPQRSTUVWXYZABCDEFG
IJKLMNOPQRSTUVWXYZABCDEFGH
JKLMNOPQRSTUVWXYZABCDEFGHI

# 연습문제 7.24

In [164]:
import string

src_str = string.ascii_uppercase

print(f'src_str = {src_str}')
print(f'dst_str = {src_str[3:] + src_str[:3]}')

src_str = ABCDEFGHIJKLMNOPQRSTUVWXYZ
dst_str = DEFGHIJKLMNOPQRSTUVWXYZABC

In [167]:
import string

src_str = string.ascii_uppercase

def cipher(a):
  return src_str[(a + 3) % 26]

index_A = src_str.index('A')

print(f'src_str의 A 인덱스 : {index_A}')
print(f'dst_str의 {index_A}번째 알파벳 : {cipher(index_A)}')

index_B = src_str.index('B')
print(f'src_str의 B 인덱스 : {index_B}')
print(f'dst_str의 {index_B}번째 알파벳 : {cipher(index_B)}')

src_str의 A 인덱스 : 0
dst_str의 0번째 알파벳 : D
src_str의 B 인덱스 : 1
dst_str의 1번째 알파벳 : E

In [175]:
import string

src_str = string.ascii_uppercase

def cipher(a):
  return src_str[(a + 3) % 26]

s = input('문장을 입력하시오: ')

encrypted_s = ''
for x in s:
  if x in src_str:
    encrypted_s += cipher(src_str.index(x))
  else:
    encrypted_s += x

print(f'암호화된 문장: {encrypted_s}')

문장을 입력하시오: Attack tonight!
암호화된 문장: Dttack tonight!

In [176]:
import string

src_str = string.ascii_uppercase

def reverse_cipher(a):
  return src_str[(a - 3) % 26]

encrypted_s = input('암호화된 문장을 입력하시오: ')

deencrypted_s = ''
for x in encrypted_s:
  if x in src_str:
    deencrypted_s += reverse_cipher(src_str.index(x))
  else:
    deencrypted_s += x

print(f'해독된 문장: {deencrypted_s}')

암호화된 문장을 입력하시오: DWWDFN WRQLJKW!
해독된 문장: ATTACK TONIGHT!

In [177]:
import string
src_str = string.ascii_uppercase + string.ascii_lowercase

def cipher(a):
  return src_str[(a + 3) % 52]

s = input('문장을 입력하시오: ')

encrypted_s = ''
for x in s:
  if x in src_str:
    encrypted_s += cipher(src_str.index(x))
  else:
    encrypted_s += x
print(f'암호화된 문장: {encrypted_s}')

문장을 입력하시오: Attak tonight!
암호화된 문장: Dwwdn wrqljkw!

In [178]:
import string
src_str = string.ascii_uppercase + string.ascii_lowercase

def cipher(a):
  return src_str[(a + 3) % 52]

s = input('문장을 입력하시오: ')

encrypted_s = ''
for x in s:
  if x in src_str:
    encrypted_s += cipher(src_str.index(x))
  else:
    encrypted_s += x
print(f'암호화된 문장: {encrypted_s}')

문장을 입력하시오: Veni, vidi, vici.
암호화된 문장: Yhql, ylgl, ylfl.

# 연습문제 7.25

In [183]:
dict_ = {}
print('사전 프로그램 시작... 종료는 q를 입력')
while True:
  prompt = input('$ ')

  if prompt[0] == '<': # 입력 명령
    key, value = prompt[1:].split(':')
    dict_[key] = value
  elif prompt[0] == '>': #검색 명령
    key = prompt[1:]
    if key in dict_:
      print(dict_[key])
    else:
      print(f'{key}가 사전에 없습니다.')
  elif prompt == 'q':
    break
  else:
    print('입력 오류가 발생하였습니다.')

print('사전 프로그램을 종료합니다.')

사전 프로그램 시작... 종료는 q를 입력
$ < boy:소년
$ < girl:소녀
$ < man:남자, 사람
$ < woman:여자
$ < house:집
$ < Korea:한국
$ > boy
소년
$ > body
 body가 사전에 없습니다.
$ man
입력 오류가 발생하였습니다.
$ > man
남자, 사람
$ q
사전 프로그램을 종료합니다.

# 연습문제 7.26

In [186]:
my_list = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)]

a, b = map(int, input("두 정수를 입력하시오: ").split())

if (a, b) in my_list:
  print(f'{my_list.index((a, b)) + 1}번째에 {(a, b)} 요소가 있습니다.')
elif (b, a) in my_list:
  print(f'{(a, b)} 요소는 없으나 {my_list.index((b, a)) + 1}번째에 {(b, a)} 요소가 있습니다.')
else:
  print('이 요소는 없습니다.')

두 정수를 입력하시오: 1 2
1번째에 (1, 2) 요소가 있습니다.

In [187]:
my_list = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)]

a, b = map(int, input("두 정수를 입력하시오: ").split())

if (a, b) in my_list:
  print(f'{my_list.index((a, b)) + 1}번째에 {(a, b)} 요소가 있습니다.')
elif (b, a) in my_list:
  print(f'{(a, b)} 요소는 없으나 {my_list.index((b, a)) + 1}번째에 {(b, a)} 요소가 있습니다.')
else:
  print('이 요소는 없습니다.')

두 정수를 입력하시오: 4 9
(4, 9) 요소는 없으나 5번째에 (9, 4) 요소가 있습니다.