<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Chapter_1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%86%8C%EA%B0%9C_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제 1

파이썬 인터프리터 버전 확인 명령어(윈도우 운영체제) :
- C:\> python --version

파이썬 인터프리터 버전 확인 명령어(macOS와유닉스 계열 운영체제) :
- $ python3 --version

파이썬 인터프리터 버전 : Python 3.10.12

In [ ]:
!python --version

Python 3.10.12

# 연습문제 2

(1) Java
- 객체 지향 프로그래밍 언어임
- 가비지 컬렉션 기능을 제공하여 메모리 누수를 줄임.
- 한 번 코드를 작성하면, 여러 운영체제에서 똑같이 실행됨.

(2) C
- 매우 오래된 언어로, 다양한 프로그램과 시스템 소프트웨어를 만드는데 많이 사용됨.
- 다른 언어보다 속도가 빠르고, 하드웨어와 가깝게 작동할 수 있음.
- 배우기 쉬운 기본 문법을 가지고 있지만, 메모리 관리에 주의가 필요함.

(3) C++
- C의 확장 언어로, 객체 지향 프로그래밍기능을 추가하여 코드 재사용성과 유지보수성을 높임.
- 높은 성능과 효율성을 제공하며, 복잡한 소프트웨어와 게임 개발에 널리 사용됨.
- 빠른 속도 덕분에 게임이나 그래픽 소프트웨어에서 많이 쓰임.

(4) Swift
- Apple에서 개발한 언어로, iOS와 macOS 애플리케이션 개발에 주로 사용됨.
- 현대적인 문법과 안전한 코드 작성을 지원하여 코드의 가독성과 안전성을 높임.
- 성능 최적화와 간결한 문법을 통해 개발 생산성을 높일 수 있음.

(5) C#
- Microsoft에서 개발한 객체 지향 프로그래밍 언어로, .NET 프레임워크와 함께 사용됨.
- 자동 메모리 관리와 풍부한 라이브러리를 제공하여 빠른 개발과 유지보수가 가능함.
- Windows 애플리케이션 및 게임 개발에 널리 사용됨.

(6) JavaScript
- 웹 개발을 위한 스크립트 언어로, 클라이언트 측에서 동적 웹 페이지를 작성할 수 있음.
- 인터프리터 언어로 즉시 실행되며, 이벤트 기반 프로그래밍을 지원함.
- Node.js와 함께 서버 측에서도 사용 가능하여 풀스택 개발이 가능함.

# 연습문제 3

In [ ]:
print(100)

100

In [ ]:
print(100 + 200)

300

In [ ]:
print('100 + 200')

100 + 200

In [ ]:
print(100, 200)

100 200

In [ ]:
print('100', '200')

100 200

In [ ]:
print('100''200')

100200

In [ ]:
print('Hello Python!')

Hello Python!

In [ ]:
print('Hello', 'Python', '!')

Hello Python !

In [ ]:
print('Hello'+'Python'+'!')

HelloPython!

In [ ]:
print('Hello''Python''!')

HelloPython!

In [ ]:
print('**********')

**********

In [ ]:
print('*' * 10)

**********

# 연습문제 4

In [ ]:
print('Hello Python!)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-14-a333e4fe3506>, line 1)

오류가 나는 이유는 ' 이후에 문자열을 닫는 기호를 추가하지 않았기 때문이다. (SyntaxError)

아래와 같이 수정

In [ ]:
print('Hello Python!')

Hello Python!

In [ ]:
print("Hello Python!')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-16-000552d4ba70>, line 1)

오류가 나는 이유는 문자열을 쓸때 "로 열었을 떄는 "로 닫고, '로 열었을 떄는 '로 닫아야하는데 그렇지 않았기 때문이다. (SyntaxError)

아래와 같이 수정

In [ ]:
print("Hello Python!") # 큰따옴표
print('Hello Python!') # 작은따옴표

Hello Python!
Hello Python!

In [ ]:
print(Hello Python!)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-18-bcd1e4a04da8>, line 1)

오류가 나는 이유는 문자열 형식을 출력하기 위해서는 큰따옴표 혹은 작은따옴표로 열고 닫아야하는데 그렇지 않았기 때문이다. (SyntaxError)

아래와 같이 수정

In [ ]:
print("Hello Python!") # 큰따옴표
print('Hello Python!') # 작은따옴표

Hello Python!
Hello Python!

In [ ]:
print(100 + '200')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

오류가 나는 이유는 int 자료형인 100과 str 자료형인 '200'을 더하려고 했기 때문이다. (TypeError)

아래와 같이 수정

In [ ]:
print(100 + 200) # int형으로 통일
print('100' + '200') # str형으로 통일

300
100200

# 연습문제 5

In [ ]:
print('Welcome to Python!!')
print('Welcome to Python!!')
print('Welcome to Python!!')
print('Welcome to Python!!')
print('Welcome to Python!!')

Welcome to Python!!
Welcome to Python!!
Welcome to Python!!
Welcome to Python!!
Welcome to Python!!

# 연습문제 6

In [ ]:
print("*" *  40)
print("안녕하세요~")
print("저는 정영진입니다.")
print("경북대학교 컴퓨터학부 4학년입니다")
print("*" *  40)

****************************************
안녕하세요~
저는 정영진입니다.
경북대학교 컴퓨터학부 4학년입니다
****************************************

# 연습문제 7

In [ ]:
print("   *")
print("  ***")
print(" *****")
print("*******")

   *
  ***
 *****
*******

# 연습문제 8

In [ ]:
print("*******")
print(" *****")
print("  ***")
print("   *")

*******
 *****
  ***
   *

# 연습문제 9

In [ ]:
print(400 - 200)

200

In [ ]:
print(45 * 89)

4005

In [ ]:
print(32 / 8)

4.0

In [ ]:
print(9 * 3)

27

In [ ]:
print(9 ** 3)

729

In [ ]:
print(9 / 3)

3.0

In [ ]:
print(9 // 3)

3

In [ ]:
print(9 % 3)

0

# 연습문제 10

In [ ]:
# 1에서 10까지 자연수의 합
print(1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10)

55

In [ ]:
# 반지름의 길이가 5인 원의 둘레(원주율은 3.14로 두고 계산할 것)
print(2 * 5 * 3.14)

31.400000000000002

In [ ]:
# 한변의 길이가 25인 정사각형의 둘레
print(25 * 4)

100

In [ ]:
# 한변의 길이가 25인 정사각형의 면적
print(25 ** 2)

625

In [ ]:
# 높이가 10이고 밑변이 30인 직사각형의 둘레
print(10 * 2 + 30 * 2)

80

In [ ]:
# 높이가 10이고 밑변이 30인 직사각형의 면적
print(10 * 30)

300

# 연습문제 11

In [ ]:
print(80 * 1.5, "km") # (속력) * (시간)

120.0 km

# 연습문제 12

In [ ]:
print(190 / 2, "km/h") # (거리) / (시간)

95.0 km/h

# 연습문제 13

In [ ]:
print(149597870 / 299792, "초") # (거리) / (속력)

499.00554384373163 초

# 연습문제 14

In [ ]:
# n 팩토리얼 함수 정의
def factorial(n):
  if n == 0 or n == 1:
    return 1
  return n * factorial(n-1)

In [ ]:
print(factorial(3)) # 3!

6

In [ ]:
print(factorial(5)) # 5!

120

In [ ]:
print(factorial(12)) # 12!

479001600

In [ ]:
print(factorial(20)) # 20!

2432902008176640000

# 연습문제 15

In [ ]:
print("100과 200의 평균값 :", (100 + 200) / 2)

100과 200의 평균값 : 150.0

# 연습문제 16

In [ ]:
print('50 + 30 =', 50 + 30)
print('50 - 30 =', 50 - 30)
print('50 * 30 =', 50 * 30)
print('50 / 30 =', 50 / 30)

50 + 30 = 80
50 - 30 = 20
50 * 30 = 1500
50 / 30 = 1.6666666666666667

# 연습문제 17

In [ ]:
# 사칙연산 함수 정의
def operations(a, b):
  print(f'{a} + {b} = {a + b}')
  print(f'{a} - {b} = {a - b}')
  print(f'{a} * {b} = {a * b}')
  print(f'{a} / {b} = {a / b}')

In [ ]:
operations(3, 6) # 3과 6

3 + 6 = 9
3 - 6 = -3
3 * 6 = 18
3 / 6 = 0.5

In [ ]:
operations(10, 30) # 10과 30

10 + 30 = 40
10 - 30 = -20
10 * 30 = 300
10 / 30 = 0.3333333333333333

In [ ]:
operations(8000, 2000) # 8000과 2000

8000 + 2000 = 10000
8000 - 2000 = 6000
8000 * 2000 = 16000000
8000 / 2000 = 4.0

In [ ]:
operations(12000, 2000) # 12000과 2000

12000 + 2000 = 14000
12000 - 2000 = 10000
12000 * 2000 = 24000000
12000 / 2000 = 6.0

In [ ]:
operations(80000000, 20000000) # 80000000과 20000000

80000000 + 20000000 = 100000000
80000000 - 20000000 = 60000000
80000000 * 20000000 = 1600000000000000
80000000 / 20000000 = 4.0