<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Chapter_2_%EB%B3%80%EC%88%98%EC%99%80_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제 1

In [1]:
print(100, '+', 200, '=', 100 + 200)

100 + 200 = 300

In [2]:
print(200, '+', 300, '+', 400, '=', 200 + 300 + 400)

200 + 300 + 400 = 900

순서대로 200, 300, 400, 200 + 300 + 400

# 연습문제 2

In [68]:
width = 30

In [69]:
height = 60

In [7]:
print(width)

30

In [8]:
print(height)

60

# 연습문제 3

In [9]:
width = 30
height = 60
area = width * height # 사각형의 면적
print("사각형의 면적 :", area)

사각형의 면적 : 1800

# 연습문제 4

In [14]:
width = 40
height = 20
area = width * height / 2 # 삼각형의 면적
print("삼각형의 면적 :", area)

삼각형의 면적 : 400.0

# 연습문제 5

In [17]:
base = int(input('정사각형의 밑변을 입력하세요 : '))
area = base * base
print("정사각형의 면적 :", area)

정사각형의 밑변을 입력하세요 : 40
정사각형의 면적 : 1600

# 연습문제 6

In [67]:
print("1에서 10까지의 합 :", 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9)

1에서 10까지의 합 : 45

# 연습문제 7

In [20]:
print("10! =",1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9)

10! = 362880

# 연습문제 8

In [66]:
n = 2
print("a \t n\t a**n")
print(2, "\t", n, "\t", 2 ** n)
print(3, "\t", n, "\t", 3 ** n)
print(4, "\t", n, "\t", 4 ** n)
print(5, "\t", n, "\t", 5 ** n)
print(6, "\t", n, "\t", 6 ** n)

a 	 n	 a**n
2 	 2 	 4
3 	 2 	 9
4 	 2 	 16
5 	 2 	 25
6 	 2 	 36

## 연습문제 9

In [28]:
print("섭씨 \t 화씨")
celsius = 0
print(celsius, "\t", (9/5) * celsius + 32)
celsius = 10
print(celsius, "\t", (9/5) * celsius + 32)
celsius = 20
print(celsius, "\t", (9/5) * celsius + 32)
celsius = 30
print(celsius, "\t", (9/5) * celsius + 32)
celsius = 40
print(celsius, "\t", (9/5) * celsius + 32)
celsius = 50
print(celsius, "\t", (9/5) * celsius + 32)

섭씨 	 화씨
0 	 32.0
10 	 50.0
20 	 68.0
30 	 86.0
40 	 104.0
50 	 122.0

# 연습문제 10

In [31]:
celsius = int(input("섭씨 온도를 입력하세요 : "))
print("섭씨", celsius, "도는 화씨", (9/5) * celsius + 32, "도 입니다.")

섭씨 온도를 입력하세요 : 30
섭씨 30 도는 화씨 86.0 도 입니다.

# 연습문제 11

In [32]:
fahrenheit = int(input("화씨 온도를 입력하세요 : "))
print("화씨", fahrenheit, "도는 화씨", (fahrenheit - 32) * (5/9), "도 입니다.")

화씨 온도를 입력하세요 : 86
화씨 86 도는 화씨 30.0 도 입니다.

# 연습문제 12

In [36]:
radius = 11
PI = 3.141592
print("원의 반지름 =", radius, "원의 둘레 =", 2 * radius  * PI, "원의 면적 =", PI * radius ** 2)

원의 반지름 = 11 원의 둘레 = 69.115024 원의 면적 = 380.132632

# 연습문제 13

In [39]:
radius = int(input("원의 반지름을 입력하세요 : "))
PI = 3.141592
print("원의 둘레 =", 2 * radius  * PI, "원의 면적 =", PI * radius ** 2)

원의 반지름을 입력하세요 : 11
원의 둘레 = 69.115024 원의 면적 = 380.132632

# 연습문제 14

In [40]:
print("2의 제곱근 =", 2 ** (1/2))
print("3의 제곱근 =", 3 ** (1/2))
print("4의 제곱근 =", 4 ** (1/2))
print("5의 제곱근 =", 5 ** (1/2))
print("6의 제곱근 =", 6 ** (1/2))
print("7의 제곱근 =", 7 ** (1/2))
print("8의 제곱근 =", 8 ** (1/2))
print("9의 제곱근 =", 9 ** (1/2))
print("10의 제곱근 =", 10 ** (1/2))

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

# 연습문제 15

In [41]:
base = int(input("밑변을 입력하세요 : "))
height = int(input("높이를 입력하세요 : "))
print("빗변 :", (base**2 + height**2) ** (1/2))

밑변을 입력하세요 : 5
높이를 입력하세요 : 12
빗변 : 13.0

# 연습문제 16

In [46]:
print("회전하기 전 :", 1 + 2j)
cos = 0
sin = 1
print("90도 회전한 후 :", (1 + 2j) * (cos + sin*1j))

회전하기 전 : (1+2j)
90도 회전한 후 : (-2+1j)

In [47]:
print("회전하기 전 :", 1 + 2j)
cos = (3 ** (1/2))/2
sin = 1/2
print("30도 회전한 후 :", (1 + 2j) * (cos + sin*1j))

회전하기 전 : (1+2j)
30도 회전한 후 : (-0.1339745962155614+2.232050807568877j)

# 연습문제 17

In [49]:
print(2 << 0, 2 << 1, 2 << 2, 2 << 3, 2 << 4, 2 << 5, 2 << 6, 2 << 7, 2 << 8, 2 << 9)

2 4 8 16 32 64 128 256 512 1024

# 연습문제 18

In [53]:
n = int(input("정수를 입력하세요: "))
if n % 2 == 0:
  print("이 수가 짝수인가요?", True)
else:
  print("이 수가 짝수인가요?", False)

정수를 입력하세요: 20
이 수가 짝수인가요? True

In [54]:
n = int(input("정수를 입력하세요: "))
if n % 2 == 0:
  print("이 수가 짝수인가요?", True)
else:
  print("이 수가 짝수인가요?", False)

정수를 입력하세요: 21
이 수가 짝수인가요? False

# 연습문제 19

In [59]:
n = int(input("정수를 입력하세요: "))
if n >= 0 and n < 100 and n % 2 == 0:
    print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?", True)
else:
    print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?", False)

n = int(input("정수를 입력하세요: "))
if n >= 0 and n < 100 and n % 2 == 0:
    print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?", True)
else:
    print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?", False)

정수를 입력하세요: 120
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False
정수를 입력하세요: 88
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True

# 연습문제 20

In [61]:
print(bin(5), "&", bin(6), "=", bin(5 & 6))
print(bin(5), "|", bin(6), "=", bin(5 | 6))
print(bin(5), "^", bin(6), "=", bin(5 ^ 6))

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

# 연습문제 21

In [62]:
n = int(input("정수를 입력하시오: "))
print(n, "의 2진수 값 :", bin(n))
print(n, "의 2진수 값에 대한 비트위 부정값", bin(~n))

정수를 입력하시오: 9
9 의 2진수 값 : 0b1001
9 의 2진수 값에 대한 비트위 부정값 -0b1010

# 연습문제 22

In [63]:
a = int(input("정수 a를 입력하시오: "))
b = int(input("정수 b를 입력하시오: "))
print("a / b의 몫 :", a//b)
print("a / b의 나머지 :", a%b)

정수 a를 입력하시오: 202
정수 b를 입력하시오: 50
a / b의 몫 : 4
a / b의 나머지 : 2

# 연습문제 23

In [64]:
n = int(input("세 자리 정수를 입력하시오: "))
print("백의 자리 :", n // 100)
print("십의 자리 :", (n % 100) // 10)
print("일의 자리 :", n % 10)

세 자리 정수를 입력하시오: 349
백의 자리 : 3
십의 자리 : 4
일의 자리 : 9

# 연습문제 24

In [65]:
n = int(input("세 자리 정수를 입력하시오: "))
print(n % 10)
print((n % 100) // 10)
print(n // 100)

세 자리 정수를 입력하시오: 349
9
4
3