<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Python_everyday_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 0
> 숫자를 입력 받아서 짝수인지 홀수인지 출력하는 프로그램을 작성하세요

In [ ]:
n = int(input("정수를 입력하세요 : "))
if n % 2 == 0:
    print(n, "은(는) 짝수입니다")
else:
    print(n, "은(는) 홀수입니다")

정수를 입력하세요 : 4
4 은(는) 짝수입니다

Day 1

> 사용자로부터 두 개의 정수를 입력으로 받습니다.
두 개 정수의 합, 정수의 차, 정수의 곱, 정수의 평균, 큰 수, 그리고 작은 수를 계산하여 화면에 출력하는 파이썬 프로그램을 작성하세요.

In [ ]:
num1, num2 = map(int, input("두 정수를 입력하세요").split())

print("두 정수의 합", num1 + num2)
print("두 정수의 차", num1 - num2 if num1 > num2 else num2 - num1)
print("두 정수의 곱", num1 * num2)
print("두 정수의 평균", (num1 + num2)/2)
print("두 정수 중 큰 수", num1 if num1 > num2 else num2)
print("두 정수 중 작은수", num2 if num1 < num2 else num1)

Day 2
> 사용자로부터 4자리의 정수를 입력으로 받아서 자리수의 합을 계산하는 프로그램을 작성하세요.
예를 들면 사용자가 1357을 입력한다면 1+3+5+7를 계산하고 그 결과를 출력하세요.

In [ ]:
n = int(input("4자리 수를 입력하세요."))

total = n % 10
n //= 10
total += n % 10
n //= 10
total += n % 10
n //= 10
total += n % 10

print(total)

Day 3
> BMI(Body Mass Index)는 체중(Kg)을 신장(m)의 제곱으로 나눈 값이다.
BMI는 체지방 축적을 잘 반영하기 때문에 비만도 판정에 많이 사용한다.
BMI 값이 18.50보다 작을 때는 저체중,
BMI 값이 18.50에서 24.99일 때는 표준,
BMI 값이 25 이상이고 29.99이하 일 때는 과체중,
BMI 값이 30 이상일때는 비만으로 판정한다.
사용자로부터 신장과 체중을 입력으로 받아서 BMI 값을 출력하는 프로그램을 작성하세요.

In [ ]:
height = float(input("신장을 입력하세요(cm 단위) : "))
weight = float(input("체중을 입력하세요(kg 단위) : "))
BMI = weight / ((height/100) ** 2)
if BMI >= 30:
  print("비만")
elif BMI >= 25:
  print("과체중")
elif BMI >= 18.5:
  print("표준")
else:
  print("저체중")

Day 4
> 사용자로부터 2개의 정수를 입력으로 받습니다.
두 수가 같으면 1을, 다르면 -1을 출력하는 프로그램을 작성하세요.

In [ ]:
a, b = map(int, input("두 정수를 입력하세요 : ").split())

if a==b:
  print("1")
else:
  print("-1")

Day 5
> 각(angle)에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다.
사용자가 각을 입력했을 때, 예각이면 1, 직각이면 2, 둔각이면 3, 평각이면 4를 출력하는 프로그램을 작성하세요.
사용자의 입력은 0부터 180이라고 가정하자.

In [ ]:
angle = int(input("각을 입력하세요 : "))
if angle == 180:
  print("평각")
elif angle > 90:
  print("둔각")
elif angle == 90:
  print("직각")
else:
  print("예각")

Day 6
> 사용자로부터 2개의 정수를 입력으로 받습니다.
각각의 정수를 num1과 num2라고 한다.
num1이 num2의 배수일 경우에는 "num1은 num2의 배수입니다."라고 출력한다.
num1이 num2의 배수가 아닐 경우에는 "num1은 num2의 배수가 아닙니다."라고 출력한다.

In [ ]:
num1, num2 = map(int, input("2개의 정수를 입력하세요(단, 2번째 입력하는 수는 0이 아님) : ").split())
if (num1 % num2 == 0) :
    print(f"{num1}은(는) {num2}의 배수입니다.")
else :
    print(f"{num1}은(는) {num2}의 배수가 아닙니다.")

Day 7
> 새로 생 피자 가게는 피자를 일곱 조각으로 잘라 줍니다.
사용자로부터 피자를 나눠 먹을 사람의 수 n을 입력으로 받는다.
모든 사람이 피자를 한 조각 이상 먹기 위해 필요한 피자의 수를 계산하여 출력하는 프로그램을 작성하세요.

In [ ]:
from math import ceil
n = int(input("피자를 나눠 먹을 사람의 수 : "))
print(ceil(n/7))

Day 8
> 춘식이는 추운 겨울에도 아이스 아메리카노만 마시는 소위 말하는 얼죽아입니다.
아이스 아메리카노는 한 잔에 4,500원입니다.
춘식이가 가지고 있는 돈 money를 사용자로부터 입력으로 받습니다.
춘식이가 최대로 마실 수 있는 아이스 아메리카노의 잔 수와 남는 돈을 순서대로 담은 리스트를 출력하는 프로그램을 작성하세요.

In [ ]:
money = int(input("춘식이가 가지고 있는 돈을 입력하세요 : "))
print([money // 4500, money % 4500])

Day 9
> 정수를 담은 임의의 리스트 num_list가 있습니다.
가장 첫 번째 원소를 1번 원소라고 할 때,
홀수 번째 원소들의 합과 짝수 번째 원소들의 합을 계산합니다.
두 합 중에서 큰 값을 출력하는 프로그램을 작성하세요.

In [ ]:
num_list = list(range(1, 11)) # 임의의 리스트

# 홀수번째 원소 합
odd_sum = sum([num_list[i] for i in range(1, len(num_list), 2)])

# 짝수번째 원소 합
even_sum = sum([num_list[i] for i in range(0, len(num_list), 2)])

# 두 합 중 큰 값 출력
print(max(odd_sum, even_sum))

Day 10
> 10이하의 자연수에서 3 또는 5의 배수는, 3, 5, 6, 9이고 이 숫자들의 합은 23이다.
1000이하의 자연수에서 3 또는 5의 배수인 숫자들의 합을 구하는 프로그램을 작성하세요.

In [ ]:
total = 0
for n in range(1, 1001):
  if n % 3 == 0 or n % 5 == 0:
    total += n
print(total)

Day 11
> 피보나치 수열(Fibonacci sequence)은 각 항이 앞의 두 항의 합으로 이루어진 수열입니다.
사용자로부터 양의 정수 n을 입력으로 받아서 피보나치 수열의 n번째 항의 값을 출력하는 프로그램을 작성하세요.
단, 반복문을 이용하여 프로그램을 작성하세요.
피보나치 수열에 대한 자세한 사항은 아래의 내용을 참고하세요.

>피보나치 수열의 정의:
   - 첫 번째 항: 0
   - 두 번째 항: 1
   - 세 번째 항부터는 앞의 두 항의 합으로 계산됩니다.

> 즉, 피보나치 수열은 다음과 같습니다.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...
>
> - 첫 번째 항 F(0)=0
> - 두 번째 항 F(1)=1
> - 세 번째 항 F(2)=F(1)+F(0)=1+0=1
> - 네 번째 항 F(3)=F(2)+F(1)=1+1=2
> - 다섯 번째 항 F(4)=F(3)+F(2)=2+1=3

>피보나치 수열을 수식으로 나타내면 다음과 같습니다.
>- F(n)=F(n−1)+F(n−2) (단, n≥2)

In [ ]:
n = int(input("피보나치 수의 몇 번째 항인지 입력하세요.(단 n은 1부터 시작) : "))
fibo = [0] * (n + 1)
fibo[2] = 1
if n == 1 or  n == 2:
  print(fibo[n])
else:
  for i in range(3, n + 1):
    fibo[i] = fibo[i - 1] + fibo[i - 2]
  print(fibo[n])

Day 12
> 공백(white space)을 다수 포함한 문자열이 주어졌다.
공백을 모두 제거한 새로운 문자열을 만들어 보고자 한다.
원래 문자열과 새로운 문자열을 출력하는 프로그램을 작성하세요.

In [ ]:
s = input("공백을 다수 포함한 문자열 입력 : ")
print("원래 문자열 :", s)
print("새로운 문자열 :", s.replace(' ', ''))

공백을 다수 포함한문자열 입력 : 아아아 ㄴㅇ ㄻ ㄹㄴㄹㅇ ㄴㄹㅇㄴㅁ ㄹ   ㄻ
원래 문자열 :  아아아 ㄴㅇ ㄻ ㄹㄴㄹㅇ ㄴㄹㅇㄴㅁ ㄹ   ㄻ
새로운 묹자열 :  아아아ㄴㅇㄻㄹㄴㄹㅇㄴㄹㅇㄴㅁㄹㄻ

Day 13
> <이상한 변호사 우영우?를 보셨나요?
주인공 우영우는 자기 소개를 할 때,
"똑바로 읽어도 거꾸로 읽어도 우영우입니다.
기러기, 인도인, 토마토, 스위스, 별똥별, 우영우"라고 말합니다.
똑바로 읽어도 거꾸로 읽어도 같은 문자열을 회문(回文)이라고 합니다.
영어로는 palindrome 이라고 합니다.
사용자로부터 입력을 받은 문자열이 회문(回文) / palindrome 인지 아닌지 판별하는 프로그램을 작성하세요.

In [ ]:
sentence = input("문자열을 입력하세요 : ")
if sentence == sentence[::-1]:
  print("회문입니다.")
else:
  print("회문이 아닙니다.")

문자열을 입력하세요 : 토마토
회문입니다.

Day 14
> 사용자로부터 두 개의 문자열을 입력으로 받습니다.
첫 번째 문자열 속에 두 번째 문자열이 존재하는지 여부를 판별하는 프로그램을 작성하세요.

In [ ]:
first_sentence = input("첫 번째 문자열을 입력하세요 : ")
second_sentence = input("두 번째 문자열을 입력하세요 : ")
if second_sentence in first_sentence:
  print("첫 번째 문자열 속에 두 번째 문자열이 존재합니다.")
else:
  print("첫 번째 문자열 속에 두 번째 문자열이 존재하지 않습니다.")

첫 번째 문자열을 입력하세요 : 사과 많이 많이
두 번째 문자열을 입력하세요 :  많이
첫 번째 문자열 속에 두 번째 문자열이 존재합니다.

Day 15
> "에라토스테네스(Eratosthenes)의 체"가 무엇일까요?
소수(Prime Number)를 구하는 방법 중에 하나입니다.
자세한 내용은 아래의 링크를 참조하시기 바랍니다.
"에라토스테네스의 체"를 활용하여, 1부터 10,000까지의 소수를 구해볼까요?
총 소수의 갯수와, 소수들을 나열하는 프로그램을 작성하세요.

In [ ]:
is_prime_list = [False, False] + [True] * 9999

for i in range(2, int(len(is_prime_list) ** 0.5) + 1):
  if is_prime_list[i]:
    for j in range(i + i, len(is_prime_list),i):
      is_prime_list[j] = False

print(sum(is_prime_list))
print([i for i, is_prime in enumerate(is_prime_list) if is_prime == True])

1229
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919, 7927, 7933, 7937, 7949, 7951, 7963, 7993, 8009, 8011, 8017, 8039, 8053, 8059, 8069, 8081, 8087, 8089, 8093, 8101, 8111, 8117, 8123, 8147, 8161, 8167, 8171, 8179, 8191, 8209, 8219, 8221, 8231, 8233, 8237, 8243, 8263, 8269, 8273, 8287, 8291, 8293, 8297, 8311, 8317, 8329, 8353, 8363, 8369, 8377, 8387, 8389, 8419, 8423, 8429, 8431, 8443, 8447, 8461, 8467, 8501, 8513, 8521, 8527, 8537, 8539, 8543, 8563, 8573, 8581, 8597, 8599, 8609, 8623, 8627, 8629, 8641, 8647, 8663, 8669, 8677, 8681, 8689, 8693, 8699, 8707, 8713, 8719, 8731, 8737, 8741, 8747, 8753, 8761, 8779, 8783, 8803, 8807, 8819, 8821, 8831, 8837, 8839, 8849, 8861, 8863, 8867, 8887, 8893, 8923, 8929, 8933, 8941, 8951, 8963, 8969, 8971, 8999, 9001, 9007, 9011, 9013, 9029, 9041, 9043, 9049, 9059, 9067, 9091, 9103, 9109, 9127, 9133, 9137, 9151, 9157, 9161, 9173, 9181, 9187, 9199, 9203, 9209, 9221, 9227, 9239, 9241, 9257, 9277, 9281, 9283, 9293, 9311, 9319, 9323, 9337, 9341, 9343, 9349, 9371, 9377, 9391, 9397, 9403, 9413, 9419, 9421, 9431, 9433, 9437, 9439, 9461, 9463, 9467, 9473, 9479, 9491, 9497, 9511, 9521, 9533, 9539, 9547, 9551, 9587, 9601, 9613, 9619, 9623, 9629, 9631, 9643, 9649, 9661, 9677, 9679, 9689, 9697, 9719, 9721, 9733, 9739, 9743, 9749, 9767, 9769, 9781, 9787, 9791, 9803, 9811, 9817, 9829, 9833, 9839, 9851, 9857, 9859, 9871, 9883, 9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

Day 16
> 함수의 파라미터로 두 개의 문자열을 받습니다.
두 개의 문자열이 anagram이면 True를 반환하고, 아니면 False를 반환합니다.

> 사용자로부터 두 개의 문자열을 받아서, anagram 여부를 판별하는 프로그램을 작성하세요.

> Anagram의 예를 들면 다음과 같습니다.
1. listen - silent
2. race - care
3. eat - tea

In [1]:
def is_anagram(str1, str2):
  # 대 소문자 구분 없음
  str1 = str1.lower()
  str2 = str2.lower()

  # 공백 제거
  str1 = str1.replace(" ", "")
  str2 = str2.replace(" ", "")

  # 두 문자열의 길이가 같지 않으면
  if len(str1) != len(str2):
    return False
  else :
    alpa = [0] * 26

    # 첫번째 문자열에 각 알파벳 갯수 저장
    for ch in str1:
      alpa[ord(ch) - ord('a')] += 1

    # 두번째 문자열과 비교
    for ch in str2:
      index = ord(ch) - ord('a')
      if alpa[index] <= 0:
        return False
      alpa[index] -= 1

    return True

string1 = input("첫 번째 문자열 : ")
string2 = input("첫 번째 문자열 : ")

if is_anagram(string1, string2):
  print("두 문자열은 Anagram입니다.")
else:
  print("두 문자열은 Anagram이 아닙니다.")

첫 번째 문자열 : Moon starer
첫 번째 문자열 : Astronomer
두 문자열은 Anagram입니다.