<a href="https://colab.research.google.com/github/jyj1206/Python/blob/main/Python_everyday_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 0
> 숫자를 입력 받아서 짝수인지 홀수인지 출력하는 프로그램을 작성하세요

In [ ]:
n = int(input("정수를 입력하세요 : "))
if n % 2 == 0:
    print(n, "은(는) 짝수입니다")
else:
    print(n, "은(는) 홀수입니다")

정수를 입력하세요 : 5
5 은(는) 홀수입니다

Day 1

> 사용자로부터 두 개의 정수를 입력으로 받습니다.
두 개 정수의 합, 정수의 차, 정수의 곱, 정수의 평균, 큰 수, 그리고 작은 수를 계산하여 화면에 출력하는 파이썬 프로그램을 작성하세요.

In [ ]:
num1, num2 = map(int, input("두 정수를 입력하세요").split())

print("두 정수의 합", num1 + num2)
print("두 정수의 차", num1 - num2 if num1 > num2 else num2 - num1)
print("두 정수의 곱", num1 * num2)
print("두 정수의 평균", (num1 + num2)/2)
print("두 정수 중 큰 수", num1 if num1 > num2 else num2)
print("두 정수 중 작은수", num2 if num1 < num2 else num1)

12 5
두 정수의 합 17
두 정수의 차 7
두 정수의 곱 60
두 정수의 평균 8.5
두 정수 중 큰 수 12
두 정수 중 작은수 12

Day 2
> 사용자로부터 4자리의 정수를 입력으로 받아서 자리수의 합을 계산하는 프로그램을 작성하세요.
예를 들면 사용자가 1357을 입력한다면 1+3+5+7를 계산하고 그 결과를 출력하세요.

In [ ]:
n = int(input("4자리 수를 입력하세요."))

total = n % 10
n //= 10
total += n % 10
n //= 10
total += n % 10
n //= 10
total += n % 10

print(total)

4자리 수를 입력하세요.9777
30

Day 3
> BMI(Body Mass Index)는 체중(Kg)을 신장(m)의 제곱으로 나눈 값이다.
BMI는 체지방 축적을 잘 반영하기 때문에 비만도 판정에 많이 사용한다.
BMI 값이 18.50보다 작을 때는 저체중,
BMI 값이 18.50에서 24.99일 때는 표준,
BMI 값이 25 이상이고 29.99이하 일 때는 과체중,
BMI 값이 30 이상일때는 비만으로 판정한다.
사용자로부터 신장과 체중을 입력으로 받아서 BMI 값을 출력하는 프로그램을 작성하세요.

In [ ]:
height = float(input("신장을 입력하세요(cm 단위) : "))
weight = float(input("체중을 입력하세요(kg 단위) : "))
BMI = weight / ((height/100) ** 2)
if BMI >= 30:
  print("비만")
elif BMI >= 25:
  print("과체중")
elif BMI >= 18.5:
  print("표준")
else:
  print("저체중")

신장을 입력하세요(cm 단위) : 170
체중을 입력하세요(kg 단위) : 80
과체중

Day 4
> 사용자로부터 2개의 정수를 입력으로 받습니다.
두 수가 같으면 1을, 다르면 -1을 출력하는 프로그램을 작성하세요.

In [ ]:
a, b = map(int, input("두 정수를 입력하세요 : ").split())

if a==b:
  print("1")
else:
  print("-1")

두 정수를 입력하세요 : 2 2
1

Day 5
> 각(angle)에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다.
사용자가 각을 입력했을 때, 예각이면 1, 직각이면 2, 둔각이면 3, 평각이면 4를 출력하는 프로그램을 작성하세요.
사용자의 입력은 0부터 180이라고 가정하자.

In [ ]:
angle = int(input("각을 입력하세요 : "))
if angle == 180:
  print("평각")
elif angle > 90:
  print("둔각")
elif angle == 90:
  print("직각")
else:
  print("예각")

각을 입력하세요 : 97
둔각

# Day 6
> 사용자로부터 2개의 정수를 입력으로 받습니다.
각각의 정수를 num1과 num2라고 한다.
num1이 num2의 배수일 경우에는 "num1은 num2의 배수입니다."라고 출력한다.
num1이 num2의 배수가 아닐 경우에는 "num1은 num2의 배수가 아닙니다."라고 출력한다.

In [ ]:
num1, num2 = map(int, input("2개의 정수를 입력하세요(단, 2번째 입력하는 수는 0이 아님) : ").split())
if (num1 % num2 == 0) :
    print(f"{num1}은(는) {num2}의 배수입니다.")
else :
    print(f"{num1}은(는) {num2}의 배수가 아닙니다.")

2개의 정수를 입력하세요(단, 2번째 입력하는 수는 0이 아님) : 0 29
0은(는) 29의 배수입니다.

Day 7
> 새로 생 피자 가게는 피자를 일곱 조각으로 잘라 줍니다.
사용자로부터 피자를 나눠 먹을 사람의 수 n을 입력으로 받는다.
모든 사람이 피자를 한 조각 이상 먹기 위해 필요한 피자의 수를 계산하여 출력하는 프로그램을 작성하세요.

In [ ]:
from math import ceil
n = int(input("피자를 나눠 먹을 사람의 수 : "))
print(ceil(n/7))

피자를 나눠 먹을 사람의 수 : 8
2

Day 8
> 춘식이는 추운 겨울에도 아이스 아메리카노만 마시는 소위 말하는 얼죽아입니다.
아이스 아메리카노는 한 잔에 4,500원입니다.
춘식이가 가지고 있는 돈 money를 사용자로부터 입력으로 받습니다.
춘식이가 최대로 마실 수 있는 아이스 아메리카노의 잔 수와 남는 돈을 순서대로 담은 리스트를 출력하는 프로그램을 작성하세요.

In [ ]:
money = int(input("춘식이가 가지고 있는 돈을 입력하세요 : "))
print([money // 4500, money % 4500])

춘식이가 가지고 있는 돈을 입력하세요 : 5000
[1, 500]

Day 9
> 정수를 담은 임의의 리스트 num_list가 있습니다.
가장 첫 번째 원소를 1번 원소라고 할 때,
홀수 번째 원소들의 합과 짝수 번째 원소들의 합을 계산합니다.
두 합 중에서 큰 값을 출력하는 프로그램을 작성하세요.

In [ ]:
num_list = list(range(1, 11)) # 임의의 리스트

# 홀수번째 원소 합
odd_sum = sum([num_list[i] for i in range(1, len(num_list), 2)])

# 짝수번째 원소 합
even_sum = sum([num_list[i] for i in range(0, len(num_list), 2)])

# 두 합 중 큰 값 출력
print(max(odd_sum, even_sum))

30